 *{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }
/* footer  */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 10px;
  background-color: #1E3A8A;
  font-size: 13px;
  color: white;
}

.footer-column {
  flex: 1 1 200px;
  margin: 10px;
  max-width: 250px;
}

.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: white;
  text-decoration: underline;
}

.footer-column p {
  margin: 8px 0;
  color:white; 
}

.footer-logo-section {
  margin-bottom: 30px;
  margin-left: 110px;
  font-size: 13px;
}

.footer-logo-section .logo {
  width: 60px;
  height: auto;
  align-items: center;
  border-radius: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.footer-logo-section p {
  font-size: 1.1em;
  margin-left: 20px;
}

.social-icons {
  margin-left: 160px;
  margin-bottom: 40px;
}

.social-icons a {
  margin:20px;
color: white;
  justify-content: center;

}
.social-icons:hover {
  opacity: 0.6;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.95em;
  display: flex;
  gap: 20px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color:white;
  text-decoration: none;
  padding-top:5.5px;
}

.footer-bottom a:hover {
  color:white;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer-logo-section {
    padding-right: 130px;
    text-align: center;
  }

  .footer-logo-section img {
    margin-right: 80px;
  }
  .social-icons {
    margin-bottom: 30px;
    /* margin-left: 40px; */
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 769px) {
  .footer-container {
    text-align: center;
    padding: 20px;
  }

  .footer-logo-section {
    margin-bottom: 20px;
  }

  .footer-logo-section p {
    font-size: 1em;
  }

  .social-icons {
    margin-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 426px) {
  .footer-container {
text-align: center !important;
    margin-right:0;
    
  }
 .footer-logo-section {
    padding-right:0px;
    margin-left: 0;
 }
  .footer-logo-section p {
    font-size: 0.9em;
    margin-right: 20px;
  }

  .footer-bottom {
    font-size: 0.85em;
  }

  .footer-bottom a {
    display: block;
    margin-top: 5px;
  }

  .social-icons a {
    margin: 0 10px;
    font-size: 16px;
  }
}

